
#main-d{
   
    height: 150px;
    width: 1330px;
    display: inline-block;
}
#l-main-d{
    height: 130px;
    width: 680px;
    margin: 10px 0px 10px 100px;
    display: inline-block;
}
.l-main-btn{
    height: 60px;
    width: 100px;
    margin-top: 35px ;
    margin-bottom: 35px;
    margin-right: 50px;
    border: 3px solid rgb(230, 214, 208);
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(59, 48, 30, 0.801);
    color: rgb(230, 214, 208);
    
}
#r-main-d{
    height: 130px;
    width: 400px;
    margin: 10px 0px 10px 130px;
    display: inline-block;
    
}
.r-main-btn{
    height: 60px;
    width: 100px;
    margin: 35px 0px 35px 70px;
    border: 3px solid rgb(230, 214, 208);
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(59, 48, 30, 0.801);
    color: rgb(230, 214, 208);
    
}


/* end nAV DIV */




#m-f-d{
    height: 300px;
    width: 1200px;
    margin: 30px 75px 10px 75px;
    display: inline-block;
}
.img-d{
    height: 250px;
    width: 250px;
    border-radius: 140Gopx;
    margin-top: 25px;
    margin-bottom: 35px;
    background-color: rgb(67, 74, 133);
    border: 5px solid rgb(230, 214, 208);
    display: inline-block;
}
#img-d1{
    margin-left: 100px;
    margin-right: 125px;
}
#img-d2{
    margin-right: 125px;
}
img{
    height: 250px;
    width: 250px;
    border-radius: 125px;
}



/* end middle div */



#m-23-d{
    height: 350px;
    width: 1250px;
    margin: 20px 50px 20px 50px;
    background-color: rgb(67, 74, 133);
    border: 1px solid rgb(15, 218, 190);
    display: inline-block;
}

#m-2-d{
    height: 350px;
    width: 399px;
    background-color: rgb(67, 74, 133);
    border: 1px solid rgb(15, 218, 190);
    display: inline-block;
}
#m-3-d{
    height: 350px;
    width: 399px;
    margin-left: 444px;
    background-color: rgb(67, 74, 133);
    border: 1px solid rgb(15, 218, 190);
    display: inline-block;   
}
footer{
    height: 100px;
    width: 1330px;
    background-color: rgba(212, 204, 192, 0.999);    
    border: 1px solid rgb(15, 218, 190);
    display: inline-block;
}